@model Vidly.Models.Movie

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Gener: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
    <li>Date Add: @Model.DateAdded.ToLongDateString()</li>
    <li>Numer in Stock: @Model.NumberInStock</li>
</ul>

